div {
    margin: 0 auto;
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
div > *{
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
}