<div>
    <ol>
        <div *ngFor="let item of data">
            <button (click)="selected(item._id)">
                <li id={{item._id}}>{{ item.name }}</li>
            </button>
        </div>
    </ol>
    <div class="selected-user-info">
        <ul>
            <li>name: <p class="info">{{ selectedUser.name }}</p></li>
            <li>email: <p class="info">{{ selectedUser.email }}</p></li>
            <li>id: <p class="info">{{ selectedUser._id }}</p></li>
        </ul>
    </div>
</div>